.form__profession {
    font-size: 14px;
    line-height: 17px;
    border: none;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 13px;
    margin-left: 36px;
    border-bottom: 1px solid black;
    max-width: 358px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-inline-size: 358px;
}

@media screen and (max-width: 615px) {
    .form__profession {
        max-width: 238px;
        margin-left: 22px;
        min-inline-size: 238px;
    }
}